<div class="card" id="statistics">
    <div class="card__header">
        <span>Statistics</span>
        <a routerLink="/">See all</a>
    </div>
    <div class="card__content">
        Content
    </div>
</div>

<div class="card" id="patients">
    <div class="card__header">
        <span>Total Patients</span>
    </div>
    <div class="card__content patients">
        <span class="patients__value">103</span>
        <span class="patients__label">This month so far</span>
    </div>
    <div class="card__footer">
        <button class="btn btn--more">More</button>
    </div>
</div>

<div class="card" id="payments">
    <div class="card__header">
        <span>Total income</span>
    </div>
    <div class="card__content payments">
        <span class="payments__value">$23,000</span>
        <span class="payments__label">This month so far</span>
    </div>
    <div class="card__footer">
        <button class="btn btn--more">More</button>
    </div>
</div>