@import '../2.tools/media-queries';

$primary-color-light-1: #235ee8;
$primary-color-light-2: #4f7eed;
$primary-color-light-3: #658eef;
$primary-color-light-4: #7b89f1;
$primary-color-light-5: #91aef4;
$primary-color-light-6: #a7bff6;
$primary-color-light-7: #d3dffa;
$primary-color-light-8: #e9effd;

$secondary-color-light-1: #4fd8de;
$secondary-color-light-2: #72e9e5;
$secondary-color-light-3: #84e4e8;
$secondary-color-light-4: #95e8eb;
$secondary-color-light-5: #a7ecef;
$secondary-color-light-6: #b9eff2;
$secondary-color-light-7: #caf3f5;
$secondary-color-light-8: #dcf7f8;

$background-color-light-1: #f6f7f8;
$background-color-light-2: #f2f5fa;

$background-color-light-mobile-1: #f6f7f8;
$background-color-light-mobile-2: #f6f7f8;

$neutral-color-1: #171822;
$neutral-color-2: #272b30;
$neutral-color-3: #394456;
$neutral-color-4: #878ea1;
$neutral-color-5: #828a9d;
$neutral-color-6: #e4e9ef;
$neutral-color-7: #f9fafc;
$neutral-color-8: #ffffff;