<header *ngIf="page$ | async as page" class="header">
    <div class="header__title">
        <i class="{{page.icon}} icon"></i>
        <span>{{page.title}}</span>
    </div>
    <div class="header__actions">
        <input class="searchbox form-control" placeholder="Search" type="search" />
        <button class="btn btn--circle btn--primary">
            <i class="fas fa-add"></i>
        </button>
        <button class="btn btn--circle btn--secondary">
            <i class="fas fa-bell"></i>
        </button>
    </div>
</header>