@import '../../../../../styles/2.tools/media-queries';

.payments {
    display: flex;
    flex-direction: column;
    padding: 32px;

    @include media('sm') {
        flex-direction: row;
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__right {
        gap: 16px;
    }
}