@import '../../../../../styles/2.tools/media-queries';

.payments {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;

    @include media('md') {
        flex-direction: row;
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__right {}
}