@import '../../../../../styles/2.tools/media-queries';

h3 {
    margin-bottom: 16px;
    font-size: 20px;
}

.payments {
    border-radius: 8px;
    width: 100%;

    &__header {
        background-color: #ffffff;
        border-radius: 8px 8px 0 0;

        >th {
            padding: 16px;
        }
    }

    tbody {
        border-radius: 0 0 16px 16px;
    }

    .payment {
        background-color: #ffffff;

        &:nth-child(2n-1) {
            background-color: #f2f5fa;
        }

        &:last-child {
            border-radius: 0 0 8px 8px;

            >td:first-child {
                border-radius: 0 0 0 8px;
            }

            >td:last-child {
                border-radius: 0 0 8px 0;
            }
        }

        >td {
            padding: 16px;
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
        }

        &__notes,
        &__method {
            display: none;

            @include media('sm') {
                display: table-cell;
            }
        }

        &__paid {
            color: #ffffff;
            font-weight: 300;

            .paid,
            .not-paid {
                font-size: 14px;
                padding: 2px 8px;
                border-radius: 4px;
            }

            .paid {
                background-color: var(--success-color-1);
            }

            .not-paid {
                background-color: var(--danger-color-1);
            }
        }
    }
}

.header {

    &__notes,
    &__method {
        display: none;

        @include media('sm') {
            display: table-cell;
        }
    }
}