<h3>Recent Treatment</h3>

<div class="list">
    <div class="list__item treatment" *ngFor="let treatment of treatments">
        <div class="treatment__header header">
            <div class="header__picture" [ngClass]="{'header__picture--empty': !treatment.patientPicture}"></div>
            <div class="header__patient">{{treatment.patientName}}</div>
            <div class="header__treatment">{{treatment.name}}</div>
        </div>
        <div class="treatment__price">${{treatment.price}}</div>
        <div class="treatment__date">{{treatment.date | date:'dd MMM yyyy'}}</div>
        <div class="data__options">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <button class="dropdown-item" type="button">
                            <i class="fa-solid fa-circle-info"></i>
                            Open details
                        </button>
                        <button class="dropdown-item" type="button">
                            <i class="fa-solid fa-calendar"></i>
                            Show in calendar
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>