<div class="dashboard">
    <app-widget>
        <h3 card-title>Top treatments</h3>
        <div card-content>
            <ul>
                <li>Consultation</li>
                <li>Scaling</li>
                <li>Root canal</li>
                <li>Bleaching</li>
                <li>Wisdom tooth removal</li>
            </ul>
        </div>
    </app-widget>

    <app-widget-appointments></app-widget-appointments>
    <app-widget-total-patients></app-widget-total-patients>
    <app-widget-earnings></app-widget-earnings>
</div>