<div class="card card--shadow">
    <div class="card__content">
        <div class="add-note">
            <label for="add-note" class="form-label">Notes</label>
            <textarea class="form-control add-note__textarea" id="add-note" rows="6"></textarea>
            <button class="btn btn--primary add-note__save">Save</button>
        </div>
        <ul class="notes">
            <li class="notes__item note">
                <span class="note__content">lorem ipsum lorem ipsum </span>
                <span class="note__author">
                    <i class="fa-solid fa-user"></i>
                    Dr. Andrew Smith
                </span>
                <span class="note__date">20.02.2019</span>
            </li>
            <li class="notes__item note">
                <span class="note__content">lorem ipsumlorem ipsum lorem ipsum </span>
                <span class="note__author">
                    <i class="fa-solid fa-user"></i>
                    Dr. Andrew Smith
                </span>
                <span class="note__date">20.02.2019</span>
            </li>
        </ul>
    </div>
</div>