<app-widget>
    <h3 card-title>Today's appointments</h3>
    <div card-content class="widget__content">
        <div class="today-appointments__left">
            <div class="today-appointments__count">
                <span class="today-appointments__number">4</span>
            </div>
        </div>
        <div class="today-appointments__right">
            <div class="today-appointments__slots">
                <div class="today-appointments__slot slot">
                    <span class="slot__title">
                        Consultation
                    </span>
                    <span class="slot__patient">
                        John Smith
                    </span>
                    <span class="slot__time">
                        8:00 - 9:00 AM
                    </span>
                </div>
                <div class="today-appointments__slot slot">
                    <span class="slot__title">
                        Open access
                    </span>
                    <span class="slot__patient">
                        Jane Doe
                    </span>
                    <span class="slot__time">
                        9:00 - 10:00 AM
                    </span>
                </div>
                <div class="today-appointments__slot slot">
                    <span class="slot__title">
                        Scaling
                    </span>
                    <span class="slot__patient">
                        James Johnson
                    </span>
                    <span class="slot__time">
                        10:00 - 11:00 AM
                    </span>
                </div>
            </div>
        </div>
    </div>
</app-widget>