<div class="card card--shadow">
    <div class="card__header">
        Documents
        <button class="btn btn--transparent">
            <i class="btn__icon fa-solid fa-plus"></i>
            <span class="btn__text always-visible">Add files</span>
        </button>
    </div>
    <div class="card__content">
        <ul class="documents">
            <li class="documents__item document">
                <span class="document__title">
                    <i class="fa-solid fa-file-lines"></i>
                    Check Up Result.pdf
                </span>
                <div class="document__actions">
                    <button class="btn action">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                    <button class="btn btn--circle">
                        <i class="fa-solid fa-arrow-down"></i>
                    </button>
                </div>
            </li>
            <li class="documents__item document">
                <span class="document__title">
                    <i class="fa-solid fa-file-lines"></i>
                    Dental X-Ray.pdf
                </span>
                <div class="document__actions">
                    <button class="btn action">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                    <button class="btn btn--circle">
                        <i class="fa-solid fa-arrow-down"></i>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</div>