@import '../../../../styles/2.tools/media-queries';

.navigation {
  z-index: 1;
  background-color: var(--neutral-color-8);
  bottom: 0;
  box-shadow: 0 0 12px var(--primary-color-7);
  flex-direction: row;
  height: 64px;
  justify-content: space-around;
  padding: 16px;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;

  @include media('sm') {
    width: 80px;
    height: 100%;
    box-shadow: none;
  }

  @include media('lg') {
    box-shadow: none;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 260px;
    row-gap: 8px;
  }

  &--expanded {

    .navigation__logo span,
    .navigation__link span {
      @include media('sm') {
        display: none;
      }
    }
  }

  .navigation__logo {
    display: none;

    @include media('sm') {
      display: flex;
      height: calc(var(--base-spacing) * 6);
      padding: 4px 0;
      font-weight: var(--font-weight-bold);
      align-items: start;
      justify-content: center;
    }

    @include media('lg') {
      padding: 0 calc(var(--base-spacing) * 2) 0;
      align-items: center;
      justify-content: start;
    }

    i {
      color: var(--primary-color-1);
      font-size: 24px;
      margin-right: calc(var(--base-spacing));

      @include media('sm') {
        margin-right: 0;
      }

      @include media('lg') {
        margin-right: calc(var(--base-spacing));
      }
    }

    span {
      @include media('sm') {
        display: none;
      }

      @include media('lg') {
        display: inline;
        font-size: 16px;
      }
    }
  }

  .navigation__links {
    display: flex;
    flex-grow: 4;
    font-size: 14px;
    justify-content: space-around;
    row-gap: 0;

    @include media('sm') {
      justify-content: start;
      row-gap: 8px;
      flex-direction: column;
    }

    .navigation__link {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: var(--neutral-color-5);
      column-gap: 16px;
      padding: 4px;

      @include media('sm') {
        padding: 10px 16px;
        flex-direction: row;
        justify-content: center;
      }

      @include media('lg') {
        justify-content: start;
      }

      &.desktop-only {
        display: none;

        @include media('sm') {
          display: flex;
        }
      }

      &:hover,
      &:focus,
      &:active {
        @include media('sm') {
          transition: linear 0.15s;
          background-color: var(--primary-color-8);
          color: var(--primary-color-1);
          border-radius: 8px;
        }

        i {
          color: var(--primary-color-1);
          background-color: var(--primary-color-8);
          border-radius: 4px;

          @include media('sm') {
            background-color: transparent;
          }
        }

        span {
          color: var(--primary-color-1);
        }
      }

      i {
        color: var(--neutral-color-5);
        font-size: 16px;
        padding: 8px 8px;

        @include media('sm') {
          margin-bottom: 0;
          font-size: 20px;
        }

        @include media('lg') {
          font-size: 16px;
        }
      }

      span {
        font-size: 12px;

        @include media('sm') {
          display: none;
        }

        @include media('lg') {
          display: inline;
          font-size: 16px;
        }
      }
    }
  }

  .navigation__profile {
    display: none;


    @include media('sm') {
      display: inline;
      padding: 16px 8px;
    }

    @include media('lg') {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-direction: row;
      column-gap: 16px;
      padding: calc(var(--base-spacing) * 2) calc(var(--base-spacing) * 2) 0;
      border-top: 1px solid var(--neutral-color-6);
    }

    i {
      font-size: 16px;
      color: #949fa7;

      @include media('sm') {
        font-size: 26px;
      }
    }

    .profile {
      &__data {
        display: flex;
        flex-direction: column;

        @include media('sm') {
          display: none;
        }

        @include media('lg') {
          display: inline;
          font-size: 16px;
        }
      }

      &__name {
        font-size: 14px;
        font-weight: var(--font-weight-semibold);
      }

      &__occupation {
        font-size: 12px;
        color: var(--neutral-color-5);
      }
    }
  }
}