@import '../../../../styles/2.tools/media-queries';

.navigation {
  background-color: var(--background-color-1);
  display: flex;
  flex-direction: row;
  box-shadow: -1px 0 8px #ddd;
  padding: 16px;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 56px;

  @include media('md') {
    width: fit-content;
    height: 100%;
    flex-direction: column;
    box-shadow: none;
  }

  .navigation__logo {
    display: none;

    @include media('md') {
      display: flex;
      height: calc(var(--base-spacing) * 8);
      padding: calc(var(--base-spacing) * 2);
      font-weight: var(--font-weight-bold);
      align-items: center;
    }

    i {
      color: var(--primary-color-1);
      font-size: 24px;
      margin-right: calc(var(--base-spacing));
    }
  }

  .navigation__links {
    display: flex;
    flex-grow: 4;
    font-size: 14px;
    justify-content: space-around;

    @include media('md') {
      justify-content: start;
      row-gap: 8px;
      flex-direction: column;
    }

    .navigation__link {
      transition: width 0.3s ease;
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 10px 16px;
      align-items: center;
      justify-content: center;
      color: var(--neutral-color-5);
      column-gap: 16px;

      @include media('md') {
        flex-direction: row;
        justify-content: start;
      }

      &:hover,
      &:focus,
      &:active {
        transition: linear 0.15s;
        background-color: var(--primary-color-8);
        color: var(--primary-color-1);
        border-radius: 8px;

        i {
          color: var(--primary-color-1);
        }
      }

      i {
        color: var(--neutral-color-5);
        font-size: 16px;
        margin-bottom: 4px;

        @include media('md') {
          margin-bottom: 0;
        }
      }

      span {
        font-size: 12px;

        @include media('md') {
          font-size: 16px;
        }
      }
    }
  }

  .navigation__profile {
    display: none;

    @include media('md') {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-direction: row;
      column-gap: 16px;
      padding: calc(var(--base-spacing) * 2);
      border-top: 1px solid var(--neutral-color-6);
    }

    i {
      font-size: 16px;
      color: #949fa7;

      @include media('md') {
        font-size: 26px;
      }
    }

    .profile {
      &__data {
        display: flex;
        flex-direction: column;
      }

      &__name {
        font-size: 14px;
        font-weight: var(--font-weight-semibold);
      }

      &__occupation {
        font-size: 12px;
        color: var(--neutral-color-5);
      }
    }
  }
}
