.card {
    background-color: var(--background-color-1);
    border-radius: var(--base-spacing);
    border: none;
    display: flex;
    flex-direction: column;
    padding: calc(var(--base-spacing) * 2);

    &__header {
        font-weight: var(--font-weight-semibold);
        margin-bottom: calc(var(--base-spacing) * 2);

        >h3 {
            font-size: calc(var(--font-size-h3) * 0.9);
        }
    }

    &__content {
        margin-bottom: calc(var(--base-spacing) * 2);
    }

    &__footer {
        display: flex;
        justify-content: end;
        margin-top: auto;
    }
}