

.nav-pills {
    --bs-nav-pills-link-active-bg: var(--background-color-1);
    --bs-nav-pills-link-active-color: var(--primary-color-1);
    --bs-nav-link-color: var(--neutral-color-4);
    padding: 4px;
    background-color: var(--primary-color-8);
    border-radius: 8px;
    display: flex;

    .nav-item {
        justify-self: stretch;
        flex-grow: 1;
    }

    .nav-link {
        font-size: 14px;
        width: 100%;
    }
}